<div style= "margin:30px;"> 
    <div>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>" 
             style="border-radius: 5px; padding: 16px 24px; margin: 30px 50px 30px 50px;
             <%= 'background-color: #bcdfff; color: #0067C0; border: solid 1px #0067C0;' if message_type == 'notice' %>
             <%= 'background-color: #FF97C2; color: #930403; border: solid 1px #930403;' if message_type == 'alert' %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <h1>問題</h1>
    
    <div style= "margin:30px;">
      <div style= "margin-bottom:30px;">
        <b><%= @question.content %></b>
      </div>
        <%= form_with url: question_path(@question), method: :patch do %>
          <% @choices.each do |choice| %>
            <div>
              <%= radio_button_tag :choice_id, choice.id %>
              <%= label_tag "choice_#{choice.id}", choice.content %>
            </div>
          <% end %>
           <div style= "margin-top:20px; ">
            <%= submit_tag "回答", class: "btn btn btn-success" %>
           </div>
        <% end %>
    </div>
    
</div>
