<div style="display: flex; height: 100vh;"> 

    <div class="col-lg-1" style="background-color:#43FF6B;">
    </div> 
    
    <div class="col-lg-10" style="padding:30px;">
      
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>" 
             style="border-radius: 5px; padding: 16px 24px; margin: 30px 50px 30px 50px;
             <%= 'background-color: #bcdfff; color: #0067C0; border: solid 1px #0067C0;' if message_type == 'notice' %>
             <%= 'background-color: #FF97C2; color: #930403; border: solid 1px #930403;' if message_type == 'alert' %>">
          <%= message %><button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      <% end %>
      
      <h1 class="text-center">クイズ結果</h1>
      
      <div class="text-center" style= "margin:30px;">
        <h3>正解数: <%= @score %> / 5</h3>
      </div>
      
      <div style= "margin:20px; display: flex; justify-content: center">
        <div><%= link_to "TOPへ戻る", root_path , class: "btn btn-secondary" %></div>
      </div>
      
      <div style="padding-left:20%;">
        
        <% @answer_quizzes.each do |answer_quiz| %>
          <div style="margin:20px;">
            <a style="color:blue;">問題：<%= answer_quiz.content %></a>　難易度：レベル<a style="color:red;"><b><%= answer_quiz.difficulty %></b></a></br>
            <p style="padding-top:10px;"><b>答え：<%= answer_quiz.correct_choice.content %></b></p>
          </div>
        <% end %>
        
        
      </div>
      
      
      
      
      
      
      
      
    </div>
    
    <div class="col-lg-1" style="background-color:#43FF6B;">
    </div> 
</div>